/* 폰트 */
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')
		format('woff');
}

html, .tui-editor-contents {
	font-family: 'LotteMartDream', sans-serif !important;
}

/* 노말라이즈 */
body, ul, li, h1, h2, h3 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/* 라이브러리 */
.con {
  margin-left:auto;
  margin-right:auto;
}

.bg-black {
  background-color:black;
}

.color-white {
  color:white;
}

.block {
  display:block;
}

.bg-red {
  background-color:red;
}

.bg-blue {
  background-color:blue;
}

.flex {
  display:flex;
}

.min-height-100vh {
  min-height:100vh;
}

.flex-column {
  flex-direction:column;
}

.flex-jc-c {
  justify-content:center;
}

.flex-jc-sb {
  justify-content:space-between;
}

.flex-ai-c {
  align-items:center;
}

.flex-grow-1{
  flex-grow:1;
}

.height-100p {
  height:100%;
}

.width-inherit{
  width:inherit;
}

.hover_bottomLine:hover {
  border-bottom:1px solid black;
}

/* 커스텀 */
.con-min-width {
	min-width: 1200px;
	padding:0 20px;
}

.con {
	width: 1200px;
}

/* 로고 시작 */
.logo {
	font-size: 3rem;
}

.logo>span {
	margin-left: 10px;
}
/* 로고 끝 */

/* 로고바 시작 */
.logo-bar {
	background-color: black;
	color: white;
	height: 150px;
}

.logo i {
	color: gold;
}
/* 로고바 끝 */

/* 메뉴바 시작 */
.menu-bar {
	background-color: black;
	color: white;
}
/* 메뉴바 끝 */

/* 메뉴바 - 메뉴1 시작 */
.menu-bar__menu-1>ul>li {
	position: relative;
	width: 25%;
}

.menu-bar__menu-1 ul>li>a {
	text-align: center;
	padding: 20px 0;
}

.menu-bar__menu-1>ul>li>a {
	border-radius: 10px 10px 0 0;
}

.menu-bar__menu-1 ul>li:hover>a {
	background-color: white;
	color: black;
}

.menu-bar__menu-1>ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: -10px;
	width: 100%;
	background-color: black;
	color: white;
	border: 10px solid black;
	border-top-width: 0;
	border-radius: 0 0 20px 20px;
}

.menu-bar__menu-1 ul>li:hover>ul {
	display: block;
}

.menu-bar__menu-1>ul ul>li:last-child>a {
	border-radius: 0 0 10px 10px;
}
/* 메뉴바 - 메뉴1 끝 */

/* 타이틀 바 시작 */
.title-bar {
	margin-top: 30px;
	margin-bottom: 30px;
}
/* 타이틀 바 끝 */

/* 게시물 리스트 */
.article-list{
  border-top:3px solid black;
  border-bottom:3px solid black;
  border-collapse: collapse;
}

.article-list__header {
  border-bottom: 2px solid black;
  height:40px;
}

.article-list__header>th {
  background-color:#ececec;
  padding: 3px;
}

.th_id {
  width:90px;
}

.th_title {
  width:630px;
}

.th_writer {
  width:150px;
}

.th_regDate {
  width:150px;
}

.th_hit {
  width:90px;
}

.th-rec {
  width:60px;
}

.list {
  height: 30px;
  border-bottom:1px solid black;
}

.list > td:not(.td_title) {
  text-align:center;
}

.list > td.empty {
	color:grey;
}

/* 게시물 리스트 끝 */

/* 리스트 페이징 */
.paging {
  margin-top: 20px;
}

.paging td:not(.back):not(.next){
  border:1px solid transparent;
  padding:7px;
  min-width:16px;
  text-align:center;
}

.paging td:not(.back):not(.next):not(.page_now):hover {
  background-color:#ececec;
  font-weight:bold;
}

.paging td.page_now{
  background-color:black;
  color:white;
  font-weight:bold;
}
/* 리스트 페이징 끝 */

/* 게시물 디테일 */
.detail_top {
  border-collapse: collapse;
  border-bottom:2px solid black;
  margin-bottom:10px;
}

.detail_top td {
  padding:2px;
}

.detail_top tr{
  height:30px;
}
.detail_top td.td_title {
  font-weight:bold;
  font-size:1.2rem;
}

.detail_top td:not(.td_title){
  font-size:0.9rem;
  padding-right:10px;
}

.detail_top td.blank {
  width:550px;
}

.detail_body{
  border-bottom:2px solid black;
  margin-bottom:10px;
}

.detail_body td.td_body{
  padding-bottom:10px;
}

.detail_movePage td {
  width:calc(100%/3);
}

.detail_movePage td.page-list {
  text-align:center;
}

.detail_movePage td.page-next {
  text-align:right;
}
/* 게시물 디테일 끝 */

/* 하단 바 시작 */
.bottom-bar {
	margin-top: 30px;
	background-color: black;
	color: white;
}

.bottom-bar a {
	margin-top: 30px;
	margin-bottom: 30px;
}

.logo-mini {
	font-size: 2rem;
	margin-left: 10px;
}

.bottom-bar__site-info {
	padding-left: 20px;
}
/* 하단 바 끝 */